<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health_care">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DossierMedicalMain"
            android:label="@string/title_activity_dossier_medical_main"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ListeInvitations"
            android:label="@string/title_activity_liste_invitations"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listeMedecin"
            android:label="@string/title_activity_liste_medecin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listePatients"
            android:label="@string/title_activity_liste_patients"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".medecinHome"
            android:label="@string/title_activity_medecin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MedecinHomeActivity"
            android:label="@string/title_activity_medecin_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".createAccount"
            android:label="@string/title_activity_create_account"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="Profil_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>